<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="log.path" value="/var/log" />
    <property name="log.pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{20} - [%method,%line] - %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

<!--    <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${log.path}/application.log</file>-->
<!--        <encoder>-->
<!--            <pattern>${log.pattern}</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>INFO</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

<!--    <appender name="file_error" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${log.path}/application.log</file>-->
<!--        <encoder>-->
<!--            <pattern>${log.pattern}</pattern>-->
<!--        </encoder>-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--    </appender>-->

    <logger name="com.cainz.pacbatchec2" level="info" />
    <root level="info">
        <appender-ref ref="console" />
    </root>

<!--    <root level="info">-->
<!--        <appender-ref ref="file_info" />-->
<!--        <appender-ref ref="file_error" />-->
<!--    </root>-->

</configuration>
